<div class="container">
  <div class="row">
    <div class="col-lg-12">


      <div  class="classes">
        <div goto-path='/hospitals' class="common hospitals">
          <div class="transparent">
            <p>Hospitals</p>
          </div>
        </div>
        <div goto-path="/specialities" class="common specialities">
          <div class="transparent">
            <p>Specialities</p>
          </div>
        </div>
        <div goto-path='/doctors' class="common doctors">
          <div class="transparent">
            <p>Doctors</p>
          </div>
        </div>
        <!-- <div goto-path='/rank' class="common rank">
          <div class="transparent">
            <p>Ranks</p>
          </div>
        </div> -->



      </div>
    </div>
  </div>
</div>
