<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="menu">
        <ul class="menuUl">
          <li goto-path="/dashboard">Home</li>
          <li goto-path="/specialities">Specialities</li>
          <li goto-path='/hospitals'>Hospitals</li>
          <li goto-path='/doctors'>Doctors</li>
          <li goto-path='/rank'>Ranks</li>
          <li class="logoutbtn" ng-click="mnctrl.activateLogout()">Log Out</li>

        </ul>
      </div>

    </div>
  </div>
</div>
